.ss{
    width: 540px;
    margin-left: -60px;
    margin-top: 35px;
}
.sss{
    width: 540px;
    margin-left: -40px;
    margin-top: 35px;
}
.a{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.as{
    margin-left: 150px;
    margin-top: -150px;
}
.as{
    margin-bottom: 150px;
}
.dd{
    margin-left: 150px;
    margin-top: -100px;
    margin-bottom: 50px
}
.sd{
    margin-left: 320px;
    margin-top: -120px;
    margin-bottom: 50px
}
.ws{
    margin-top: -40px;
    margin-left: 30px;
}
.m{
    margin-top: -30px;
    margin-bottom: -6px;
}